.product-card {
  display: flex;
  flex-direction: column;

  width: 386px;
  height: 444px;

  padding-top: 16px;
  margin: 20px;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-card img {
  width: 354px;
  height: 330px;
  object-fit: fill;
  
  align-self: center;
}

.product-img-container {
  position: relative;
}

.product-info-container {
  padding: 24px 16px 16px 16px;
}

.product-name {
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;

  color: var(--color-black);
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;

  color: var(--color-black);
}

.img-out-of-stock {
  opacity: 0.5;
}

.text-out-of-stock {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;

  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;

  text-transform: uppercase;

  color: var(--color-light-grey);
}