.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 386px;
  height: 444px;

  padding-top: 16px;
  margin: 20px;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.plp-img {
  width: 354px;
  height: 330px;

  object-fit: contain;
}

.img-out-of-stock {
  opacity: 0.5;
}

.text-out-of-stock {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;

  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;

  text-transform: uppercase;

  color: var(--color-light-grey);
}

.product-img-container {
  position: relative;
}

.product-info-container {
  padding: 24px 16px 16px 16px;
}

.product-name {
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;

  color: var(--color-black);
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;

  color: var(--color-black);
}

.plp-add-to-cart-btn {
  display: none;

  position: absolute;
  top: 320px;
  right: 30px;

  width: 52px;
  height: 52px;

  border-radius: 50%;

  background: var(--color-light-green);
  cursor: pointer;
}

.plp-add-to-cart-btn img {
  height: 18px;
  width: 20px;
}

.product-card:hover .plp-add-to-cart-btn {
  display: block;
}