.category-name {
  font-family: var(--font-base);
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
  
  padding: 80px 101px;
  
  color: var(--color-black);
}

.product-listing-container {
  display: flex;
  flex-wrap: wrap;

  padding-left: 101px;
  font-family: var(--font-base);
}