.cart-product-container {
  display: flex;
  justify-content: space-between;
}

.cart-product-name {
  font-family: var(--font-base);
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}

.cart-product-brand {
  font-family: var(--font-base);
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}

.cart-product-price {
  font-family: var(--font-base);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  margin: 20px 0;
}

.cart-attr-name {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  
  margin-bottom: 8px;
}

.cart-img-buttons-wrapper {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-buttons-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cart-increment-button,
.cart-decrement-button {
  width: 45px;
  height: 45px;

  border: 1px solid var(--color-black);
  cursor: pointer;
}

.cart-product-qty {
  font-family: var(--font-base);
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
}

.cart-product-img {
  width: 200px;
  height: 288px;

  object-fit: contain;
}

.attr-selected-swatch {
  border: 2px solid var(--color-light-green);
}

.attr-selected-option {
  color: white;
  background: var(--color-black);
}