.header-container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  height: 80px;
  background: var(--color-white);

  padding: 0px 101px;
}

nav {
  display: flex;
  justify-content: space-between;

  height: 56px;
  width: 234px;
}

.category {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  line-height: 19.2px;

  padding: 0px 16px;

  color: var(--color-black);
  cursor: pointer;
}

.selected-category {
  font-weight: 600;
  color: var(--color-light-green);

  border-bottom: 2px solid var(--color-light-green);
}

.icon-shoppingbag {
  width: 41px;
  height: 41px;
}

.cart-currency-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 40px;
  width: 204px;
  gap: 22px;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-item-qty {
  position: absolute;
  right: -12px;
  top: -10px;

  width: 20px;
  height: 20px;

  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  color: var(--color-white);
  background: var(--color-black);

  border-radius: 50%;
}

.icon-emptycart {
  height: 18px;
  width: 20px;
}

.currency-dropdown {
  position: relative;
  width: 40px;
}

.currency-dropdown-btn {
  cursor: pointer;
  
  width: 29px;
  height: 29px;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  
  text-align: center;

  color: var(--color-black);
  font-family: var(--font-base);
}

.currency-dropdown-arrow {
  position: absolute;
  right: 0px;
  top: 10px;
  
  border: solid var(--color-black);
  border-width: 0 1px 1px 0;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  top: 12px;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.currency-dropdown-content {
  display: none;

  position: absolute;
  left: -13px;
  top: 45px;

  width: 114px;

  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.currency-dropdown-content button {
  cursor: pointer;
  display: block;

  height: 45px;
  width: 100%;

  font-size: 18px;
  font-weight: 500;

  color: var(--color-black);
  font-family: var(--font-base);
}

.currency-dropdown-content button:hover {
  background: var(--color-hover-shadow);
}

.show-currencies,
.show-cart-overlay {
  display: block;
}

.dark {
  position: absolute;
  top: 68px;
  width: 100%;
  min-height: 100%;
  size: fill;
  z-index: 2;
  background: #393748;
  opacity: 0.22;
}
