@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --font-base: 'Raleway', sans-serif;

  --color-white: #FFFFFF;
  --color-black: #1D1F22;
  --color-light-grey: #8D8F9A;
  --color-grey: #43464E;
  --color-light-green: #5ECE7B;
  --color-hover-shadow: #EEEEEE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  scroll-behavior: smooth;
  text-decoration: none;

  font-family: var(--font-base);
}
